$property-color: #67ce67;
$property-hover: #b9f6ba;
$property-el-color: #f2fff2;
$row-color: #ff7fd5;
$row-hover: #ffc0ea;
$area-color: #00a9ff;
$area-hover: #7fd4ff;
$column-color: #ffa800;
$column-hover: #ffd480;
